@import './framework.styl'
@import './theme-day.styl'
@import './theme-night.styl'
@import './animate.styl'
.input
  padding 5px 10px
  line-height 30px
  outline none
  font-size $font-size-medium
  box-sizing border-box
  border 1px solid #d6d6d6
  border-radius 3px