@import './variable.styl'
#app
  width  100vw
  height 100vh
.n-header
  height 40px
  display: flex
  justify-content: space-between
  align-items: center
  font-size: $fs-large-m
  padding: 0 20px
  border-bottom: 1px
.n-header-left span 
  padding: 0 12px
  letter-spacing: 2px
.n-header-right
  display: flex
.n-home-content
  height calc(100vh - 41px)
.base-box
  padding: 8px 12px
.base-box-header
  height 40px
  font-size: $fs-medium-x
  line-height: 40px
  letter-spacing: 2px
  padding-left: 32px
  border-top-left-radius:  5px
  border-top-right-radius:  5px
  cursor pointer
.index-doctor-wrapper
  width: 100%
  padding: 12px
.index-list
  width: 100%
  display: flex
  li
    padding: 8px
    span 
      padding: 0 3px
.n-index,.n-common
  height 100%
.n-index-top,.n-common-top
  height calc(100% - 40px)
  overflow hidden
.n-common-bottom
  height 40px
.n-index-top>div
  height 35%
.n-index-top>div:last-child
  height 30%
.n-footer
  position relative
  height 40px
  z-index 2
  .btn
    position absolute
    right 16px
    padding: 0 16px
    top: 3px
    font-size: $fs-medium-x
.n-menu
  position: fixed
  top:40px
  bottom: 40px
  right 0
  max-width: 280px
  min-width: 200px
  overflow hidden
  z-index: 1
  ul
    display: flex
    flex-wrap: wrap
    li
      flex: 1 1 100%
      padding: 20px 30px
      padding-left: 60px
      font-size: $fs-large-m
      text-align: center
      display: flex
      justify-content: center
      cursor pointer
      span:last-child
        flex: 1
      span.fa
        font-size $fs-large-x
      &:nth-child(4)>span:last-child
        padding-top: 3px
.memo-manage 
  .pop-content
    width 600px
    height 360px
.n-order
  padding: 5px 10px 2px 10px
.order-list li
  display: flex
  div:first-child
    flex: 0 0 148px
  div
    display: flex
    flex: 1 1 243px
    height 100%    
    justify-content: center
    align-items: center
    font-family: Arial, Helvetica, sans-serif
    font-size: $fs-medium-l
    font-weight: 600
.order-list-date
  height 50px
  justify-content: center
  align-items: center
.order-list-item
  height 80px
  div:first-child
    flex-direction: column
    h1
      padding: 4px 0
.order-footer
  display: flex
  padding:0  280px
  justify-content: flex-end
  justify-items: center
  height 100%
  li
    height 100%
    flex: 1
    display: flex
    justify-content: center
    align-items: center
    span
      flex: 0 0 72px
      height 36px
      border-radius: 4px
      display: flex
      justify-content center
      align-items: center
.care-top
  padding: 0 32px
.care-list
  width: 100%
.care-list-item
  width: 100%
  padding: 10px 0 
  .item-title
    padding-bottom: 8px
    display: flex
    span
      margin: 0 10px
      padding: 6px 12px
      border-radius: 4px
      min-width: 110px
      text-align: center
  .item-content
    display: flex
    flex-wrap: wrap
    &>div
      flex: 1 1 calc(100% / 6)
      max-width calc(100% / 6)
      height 265px
      padding: 5px 7px 10px 7px
      section 
        height 100%
        border-radius: 5px
        display: flex
        flex-direction: column
        header 
          padding:18px
          font-size 22px
          font-weight: 600
          font-family: Arial, Helvetica, sans-serif
        .rycw-info-emptybed
          flex: 1
          display: flex
          justify-content: center
          align-items: center
          font-size: 84px
          font-weight: 600
.rycw
  header 
    display: flex
    justify-content: space-between
    align-items: center
    p
      display: flex
    p>span
      font-size: 14px
      display inline-block
      width: 30px
      height 32px
      margin-left: 5px
      display: flex
      justify-content center
      align-items: center
  .rycw-info
    border-top 2px solid #000
    padding: 8px 10px
    p
      display: flex
      flex-wrap: wrap
      margin-bottom: 10px
      font-size: 16px
    .rycw-info-item
      justify-content: space-between
    .rycw-title>span
      font-size: 14px
      display inline-block
      width: 30px
      height 32px
      margin-left: 5px
      display: flex
      justify-content center
      align-items: center
    .rycw-info-day
      justify-content: flex-end
    .rycw-name
      padding-top: 8px
      letter-spacing: 2px
      i 
        color: #cc2d2f
.rycw.medium .rycw-info
  border-top 2px solid #cc2d2f  
.rycw.third .rycw-info
  border-top 2px solid #008080
.care-manage .pop-content
  width: 90vw
  max-width 90vw
.care-box-content
  height 100%
  width: 100%
  display: flex
  overflow hidden
  section:first-child
    flex: 1 1 432px
    min-width: 380px
    max-width: 432px
    height 100%
    padding: 20px 45px
    .care-header
      height 128px
      margin-bottom 20px
      font-size 22px
      font-weight: 600
      letter-spacing: 2px
      border-radius: 8px
      position relative
    .care-header-title
      display flex
      padding: 8px 50px
      align-items: center
      div
        width: 78px
        height 78px
        border-radius: 50%
      h1
        margin-left 50px
    .bg-animate
      position absolute
      bottom 0
  section:last-child
    flex: 1 1 432px
    min-width: 380px
    height 100%  
            


