@import './variable.styl'
.c-table
  width: 100%
  thead
    height 50px
    font-size: 18px
    line-height: 50px
    text-align: center
  tbody
    font-size: 16px
    line-height: 38px
    text-align: center
.m-one
  height 100%
.c-one-table
  height calc(100% - 50px)
.c-one-footer
  height 50px
  display: flex
  justify-content: flex-end
  span 
   width: 100px
   height 36px
   i
     padding-right: 15px