@import './var-day.styl'
.theme-day
  .n-header
    background: $color-a2
    border-bottom: 1px solid $color-a3
  .n-header-left
    color $color-a1
  .btn-danger
    color $color-a7 
    background $color-a60
  .btn-normal
    color $color-a1
    background: $color-a60
  .btn-danger:hover,.btn-normal:hover
    background: $color-a6
  .n-home-content
    background: $color-a11
  .base-box-header
    background: linear-gradient(to top,$color-a4,$color-a5)
    color $color-a1
  .base-box-wrapper
    background: $color-b11
    box-shadow: 1px 0 3px 1px $color-b2
  .memo-table
    color $color-a8
    thead,tbody
      border-bottom: 1px solid $color-c1
      tr
        th:first-child
          border-right 1px solid $color-c1
  .index-list>li>span.name
    color $color-a8 
  .index-list>li>span.level
    color $color-a9
  .n-footer
    background: $color-b11
    box-shadow: 1px 1px 10px $color-b3
    .btn
      color $color-a9
    .btn:active,.btn:focus
      box-shadow: inset 0 3px 5px $color-b21
  .n-menu
    background: $color-b11
    box-shadow: 1px 0 3px 1px $color-b2
  .n-menu>ul>li
    color: $color-a81
    border-bottom: 1px solid $color-b4
    &:hover
      background: $color-b5
  .icon_sy
    background: url('~common/icons/menu_shygl.png') no-repeat
  .pop-content header ,.memo-box .memo-manage .pop-content header 
    background-color: $color-b6 
    color: $color-a8
    border-bottom: 1px solid $color-b7
  .pop-content header ul li
    color $color-b8
    &:hover
      color $color-a2
      span
        text-shadow: 1px 1px 5px $color-a3
  .login-list li
    background-color $color-a11
    background-image: linear-gradient(to bottom,$color-b11 0,$color-b9 100%);
    color $color-a8
    &:hover
      box-shadow: 0 1px 0 $color-b2
      opacity 0.9
  .pop-content section
    background: $color-a11
    color $color-a8
  .duty-show h1
    color $color-a9
  .duty-today .pop-content header,.memo-box .pop-content header 
      background: $color-a2
      color: $color-a1
  .duty-select-item>.input
    color $color-a8
    background-color $color-c2
    border 1px solid $color-c1     
  .duty-select-list>ul>li>span
    border 1px solid $color-a81
    box-shadow: 1px 0 3px 1px $color-b2
    color $color-a8
    background-color $color-c2
    border 1px solid $color-c1
    &:hover
      background-color $color-c3
      border 1px solid $color-c4
  .memo-box-table
    background-color $color-b11
    thead
      background-color $color-c5
      border-bottom 1px solid $color-c6
      color $color-a8
    tbody
      color $color-c7
      tr
        border-bottom 1px solid $color-c6
        th:first-child
          border-left: 0
        th
          border-left 1px solid $color-c6
  .memo-box-content>form
    input,textarea
      background: $color-c2
      color $color-c8
      border 1px solid $color-c1
  .n-order
    border 1px solid $color-c5
  .order-list
    border 1px solid $color-c6
  .order-list-date
    border-bottom: 1px solid $color-c6
    background-color: $color-c5
    div:not(:first-child)
      border-left: 1px solid $color-c6
      color: $color-a8
  .order-list-item
    border-bottom: 1px solid $color-c6
    div:not(:first-child)
      border-left: 1px solid $color-c6
    div:first-child
      color $color-c7
  &:first-child 
    border-bottom: 0
  .item-title span
    color $color-a8
    background: $color-b41
    border 2px solid $color-c9
  .item-content>div>section
    background: $color-b41
    box-shadow: 1px 1px 20px $color-d1
    header
      color $color-a8
    .rycw-info-emptybed
      border-top 1px solid $color-c6
      color $color-d2       
  .rycw p.rycw-title span
    border-bottom: 1px solid $color-d3
  .rycw-info-item,.rycw-info-day,.rycw-name
    color $color-c7
  .rycw-info .rycw-title
    color: $color-a9
  .care-box-content>section:first-child
    background: $color-b11
    box-shadow: 1px 1px 8px $color-c6
  .care-header
    background: $color-b11
    border-bottom 1px solid $color-d4
    color $color-d5 
    box-shadow: 1px 1px 16px $color-d6
  .care-list
    color $color-d7
    border-bottom 1px solid $color-c6
  .care-right-footer
    background-color $color-b11
    color $color-d8
    box-shadow: 1px 1px 5px $color-b2
    li.router-link-exact-active
      background-color $color-c2
      border-bottom 2px solid $color-a9
      box-shadow: 1px 1px 5px $color-d3
      color $color-a9
  .care-right-top
    border-top 1px solid $color-d9
  .c-table
    color $color-a8
    thead
      background-color: $color-b11
      border-top 2px solid $color-c6 
      border-bottom 2px solid $color-c6
      border-left: 1px solid $color-c6
      background-color $color-b11
      th
        border-right: 1px solid $color-c6
    tbody
      tr
        border-bottom: 1px solid $color-c6
        border-left: 1px solid $color-c6   
        th
          border-right: 1px solid $color-c6
  .n-miss-left
    box-shadow: 1px 1px 5px $color-c6
  .miss-menu-item
    border-bottom: 1px solid $color-c6
    color $color-c7

      
