//  白天主题颜色规范
$color-a1 = #ffffff
$color-a11 = #ffffff
$color-a2 = #45aee0
$color-a3 = #e5e5e5
$color-a4 = #75d0f8
$color-a5 = #bee5f5
$color-a60 = #6abce2
$color-a6 = #57b5e3
$color-a7 = #d73d32
$color-a8 = #333333
$color-a81 = #8A8B8C
$color-a9 = #57b5e3
$color-b11 = #ffffff
$color-b2 = rgba(0,0,0,0.1)
$color-b21 = rgba(0,0,0,0.125)
$color-b3 = #45aee0
$color-b4 = #fafafa
$color-b5 = #e1e9e9
$color-b6 = #F8F8F8
$color-b7 = #eeeeee
$color-b8 = #797979
$color-b9 = #ededed
$color-c1 = #d5d5d5
$color-c2 = #fbfbfb
$color-c3 = #e6e6e6
$color-c4 = #b8b8b8